*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Imperial Script', cursive;
}

.cabecalho {
    background-color:#231230;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width:  40%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.serie-imagem{
    width: 28%;
}

.serie{
    background-image: linear-gradient(#231230,#652D87,#5E49DF);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.serie-div-conteudo{ 
    width: 50%;
}

.serie-titulo{ 
    padding: 24px 0;
}

.personagem{
    background-image: linear-gradient(#5E49DF,#652D87,#231230);
}

.personagem-imagem{ 
    width: 120px;
}

.personagem-icone{
    width: 30px;
    padding: 4px 4px;
}

.personagem-div{
    text-align: center;
    padding: 10px 0;}

.personagem-titulo{
    text-align: center;
    padding: 40px;
}

.personagem-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: #231230;
    text-align: center;
}

.rodape-imagem{
    width: 13cm;
}